.sectionSaleDesktop{
    margin-top: 158px;
    width: 100%;

    @media(max-width: 500px){
        display: none;
    }
}

.sectionSaleMobile{
    display: none;
    @media(max-width: 500px){
        display: block;
        width: 100%;
        padding-top: 168px;
    }
}

.contactBannerDesktop{
    width: 100%;
    
    @media(max-width: 500px){
        display: none;
    }
}

.contactBannerMobile{
    display: none;

    @media(max-width: 500px){
        display: block;
        width: 100%;
    }
}